.canvas{
    border: 1px solid rgba(5, 3, 0, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.draw{
    text-align: center
}

.btn{
    text-align: center;
    margin-right: 10px;
    width: 120px;
    height: 30px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-family: "Avenir Next Condensed";
    background-color: #dcba8d;
    opacity: 80%;
}
.btn:hover {
    background-color: #a68b65; /* Green */
    color: white;
}